<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MusicApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ 'logout_user'}}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ 'album_library'}}">Albums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ 'song_library'}}">Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ 'artist_library'}}">Artists</a>
      </li>
    </ul>
    {% else%}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{'register_user'}}">Register User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ 'login_user'}}">Login</a>
        </li>
      </ul>
      {% endif%}
    </div>
  </div>
</nav>
