<!DOCTYPE html> {% extends 'master.html'%} {%block content %}
<h1>These are all albums</h1>
<br />
<form method="post">
  {%csrf_token%}
  <textarea
    rows="2"
    cols="60"
    name="search"
    placeholder="search album"
  ></textarea>
  <input type="button" value="Search" />
</form>
<br />

<div class="row g-4">
  {%for i in album%}
  <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card" style="width: 18rem">
      <img
        src="{{i.album_profile}}"
        class="card-img-top"
        alt="{{i.album_name}}"
      />
      <div class="card-body">
        <h5 class="card-title">{{i}}</h5>
        <p class="card-text">
          {%for album_artist in i.album_artist.all%} {{album_artist}}{%endfor%}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%}
